.navbar {
  background-color: rgb(30, 29, 30);
}
a.navbar-brand {
  color: #c2b97f;
  opacity: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.collapse ul li.nav-item a.nav-link {
  color: #beeeaa;
  opacity: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
section.featured-title {
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.head-feature-heading {
  font-weight: bold;
}
#id-tom {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}
#i-contact {
  width: 4em;
  height: 3.5em;
  background-color: #d6ba73;
  color: #626868;
  display: inline-block;
  padding-top: .75rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
#i-contact1 {
  width: 4em;
  height: 3.5em;
  background-color: #d6ba73;
  color: #626868;
  display: inline-block;
}
#icons-home {
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.5rem;
  display: inline-block;
  border-radius: 15%;
  background-color: #55505c;
  color: #d6f8d6;
}
#logo {
  width: 8rem;
  height: 2.5rem;
}
.navbar-collapse {
  flex-grow: 0;
}
#blue-side .row {
  background-color: #8693ab;
}


@media (max-width: 375px) {
  #header-about-page {
    padding-top: 7rem;
    height: 100%;
  }
  #header-about-page h2 {
    font-size: 1.5rem;
  }
  #header-about-page p {
    font-size: 1.2rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.15rem;
    padding: 0;
    padding-top: 0.6rem;
    margin-bottom: 6rem;
  }
  /* #section-about-page>.container .row .col {
    flex: 100%;
  } Bu flex 100ü flex unset kodunun neden iptal etmediğini sor mentora */
  #section-about-page h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 5rem;
  }
  #section-about-page p {
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 5rem;
  }
  #section-about-page #image-about1 {
    display: none;
  }
  #section-about-page #image-about2 {
    display: none;
  }
  #section-about {
    height: 100%;
    padding-bottom: 4rem;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    padding-top: 5rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 6em;
    height: 6em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 0.75rem;
    font-weight: normal;
    padding-bottom: 3rem;
  }
  #header-index-page .container-fluid {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #212529;
    box-sizing: border-box;
  }
  h1.top-heading {
    color: white;
    opacity: 50%;
    font-weight: bolder;
    font-size: 1.75em;
    text-align: center;
  }
  p.nav-paragraph {
    color: white;
    opacity: 50%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  div.box > img {
    display: none;
  }
  em {
    font-size: 1.35em;
  }
  /* #card-footer-col1 {
    width: 25%;
  }
  #card-footer-col2 {
    width: 66.66%;
  } */
  #blue-side .row {
    padding: 3rem 0 2rem 0;
  }
  .input-group {
    margin: auto;
    width: 93%;
  }
}

@media (min-width: 376px) {
  #header-about-page {
    padding-top: 7rem;
    height: 100%;
  }
  #header-about-page h2 {
    font-size: 2rem;
  }
  #header-about-page p {
    font-size: 1.2rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.15rem;
    padding: 0;
    padding-top: 0.6rem;
    margin-bottom: 6rem;
  }
  /* #section-about-page>.container .row .col {
    flex: 100%;
  } */
  #section-about-page h3 {
    font-size: 1.75rem;
    margin-top: 5rem;
  }
  #section-about-page p {
    font-size: 1.15rem;
    margin-bottom: 5rem;
  }
  #section-about-page #image-about1 {
    display: none;
  }
  #section-about-page #image-about2 {
    display: none;
  }
  #section-about {
    height: 100%;
    padding-bottom: 4rem;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    padding-top: 5rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 9em;
    height: 9em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 3rem;
  }
  footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #header-index-page .container-fluid {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #212529;
    box-sizing: border-box;
  }
  h1.top-heading {
    color: white;
    opacity: 50%;
    font-weight: bolder;
    font-size: 1.75em;
    text-align: center;
  }
  p.nav-paragraph {
    color: white;
    opacity: 50%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  div.box > img {
    display: unset;
    width: 24rem;
    height: 16rem;
    border-radius: 3%;
    margin-top: 3rem;
  }
  em {
    font-size: 1.4em;
  }
  #blue-side p:first-child {
    font-size: 1.5rem;
  }
  #blue-side {
    height: 100%;
    margin-top: 5rem;
  }
  #blue-side .row {
    padding: 2rem 0 1rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .input-group {
    margin: auto;
    width: 86%;
  }
  
}

@media (min-width: 426px) {
  #header-about-page {
    padding-top: 7rem;
    height: 100%;
  }
  #header-about-page h2 {
    font-size: 2rem;
  }
  #header-about-page p {
    font-size: 1.2rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.15rem;
    padding: 0;
    padding-top: 0.6rem;
    margin-bottom: 6rem;
  }
  #section-about {
    height: 100%;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    padding-top: 5rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 9em;
    height: 9em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 3rem;
  }
  footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .input-group {
    margin: auto;
    width: 70%;
  }
}

@media (min-width: 576px) {
  #header-about-page {
    padding-top: 2rem;
    height: 100%;
    margin-top: 3rem;
  }
  #header-about-page h2 {
    font-size: 2rem;
  }
  #header-about-page p {
    font-size: 1.2rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.15rem;
    padding: 0;
    padding-top: 0.6rem;
    margin-bottom: 6rem;
  }
  #section-about-page .container {
    height: 100%;
    margin-bottom: 4rem;
  }
  #section-about-page h3 {
    font-size: 1.75rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
  }
  #section-about-page p {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #section-about-page #image-about1 {
    display: unset;
    width: 32em;
    height: 20em;
    margin-top: 6rem;
    margin-bottom: 0;
  }
  #section-about-page #image-about2 {
    display: unset;
    width: 32em;
    height: 20em;
    margin-top: 6rem;
    margin-bottom: 0;
  }
  #section-about {
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    padding-top: 6rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 9em;
    height: 9em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 3rem;
  }
  footer .container {
    flex: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
#section-contact {
  margin-right: 5rem;
  margin-left: 5rem;
}
#header-index-page .container-fluid {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #212529;
  box-sizing: border-box;
}
h1.top-heading {
  color: white;
  opacity: 50%;
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
}
p.nav-paragraph {
  color: white;
  opacity: 50%;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}
div.box > img {
  width: 32rem;
  height: 20rem;
  border-radius: 3%;
  margin-top: 3rem;
}
#img-index-page1{
  width: 100%;
  height: 17rem;
  object-fit: cover;
  object-position: center 10%;
}
#img-index-page2{
  width: 100%;
  height: 17rem;
  object-fit: cover;
  object-position: center 100%;
}
#img-index-page3{
  width: 100%;
  height: 17rem;
  object-fit: cover;
  object-position: center 15%;
}
/* #card-footer-col1 {
  width: 16.66%;
}
#card-footer-col2 {
  width: 66.66%;
} */
.input-group {
  margin: unset;
  width: unset;
}


}

@media (min-width: 768px) {
  #header-about-page {
    padding-top: 1rem;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  #header-about-page h2 {
    font-size: 2.25rem;
    margin-top: 0;
  }
  #header-about-page p {
    font-size: 1.3rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
    padding: 0;
    padding-top: 0.5rem;
    margin-bottom: 6rem;
  }
  #section-about-page .container {
    height: 100%;
  }
  #section-about-page h3 {
    font-size: 1.75rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #section-about-page p {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #section-about-page #image-about1 {
    width: 40em;
    height: 30em;
    margin-top: 6rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }
  #section-about-page #image-about2 {
    width: 40em;
    height: 30em;
    margin-top: 0;
    margin-bottom: 6rem;
    margin-left: 2rem;
  }

  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 9em;
    height: 9em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 3rem;
  }
  div.box > img {
    width: 40rem;
    height: 22rem;
    border-radius: 3%;
    margin-top: 3rem;
  }
  em {
    font-size: 1.5em;
  }
  .input-group {
    margin: auto;
    width: 79%;
  }
}

@media (min-width: 992px) {
  #header-about-page {
    padding-top: 1.75rem;
    height: 100%;
  }
  #header-about-page h2 {
    font-size: 2.25rem;
  }
  #header-about-page p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  #header-about-page span a {
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    margin-bottom: 6rem;
  }
  #section-about-page .container {
    height: 100%;
  }
  /* #section-about-page>.container .row .col {
    flex: unset;
  } */
  #section-about-page h3 {
    font-size: 2.25rem;
    margin-top: 3rem;
  }
  #section-about-page p {
    font-size: 1.25rem;
  }
  #section-about-page #image-about1 {
    width: 27em;
    height: 19em;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #section-about-page #image-about2 {
    width: 27em;
    height: 19em;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
  }
  #section-about {
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 9em;
    height: 9em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1.1rem;
  }
  #header-index-page .container-fluid {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #212529;
    box-sizing: border-box;
  }
  h1.top-heading {
    color: white;
    opacity: 50%;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    margin-top: 2rem;
  }
  p.nav-paragraph {
    color: white;
    opacity: 50%;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  div.box > img {
    width: 28rem;
    height: 18rem;
    border-radius: 3%;
    margin-top: 0;
  }
  #img-index-page1{
    width: unset;
    height: unset;
    object-fit: unset;
    object-position: unset;
  }
  #img-index-page2{
    width: unset;
    height: unset;
    object-fit: unset;
    object-position: unset;
  }
  #img-index-page3{
    width: unset;
    height: unset;
    object-fit: unset;
    object-position: unset;
  }
  #blue-side p:first-child {
    font-size: 1.5rem;
  }
  #blue-side .row {
    padding: 4rem 2rem 3rem 2rem;
    margin-left: 0;
    margin-right: 0;
  }
  .input-group {
    margin: unset;
    width: unset;
  }
}

@media (min-width: 1200px) {
  #header-about-page {
    padding-bottom: 3rem;
    height: 100%;
  }
  #header-about-page h2 {
    font-size: 2.5rem;
  }
  #header-about-page p {
    font-size: 1.25rem;
  }
  #header-about-page span a {
    width: 11rem;
    height: 3rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  #section-about-page .container {
    height: 100%;
  }
  #section-about-page h3 {
    font-size: 2.25rem;
    margin-top: 4rem;
  }
  #section-about-page p {
    font-size: 1.25rem;
  }
  #section-about-page #image-about1 {
    width: 34em;
    height: 22em;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #section-about-page #image-about2 {
    width: 34em;
    height: 22em;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #section-about {
    height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  #section-about h5 {
    font-size: 2rem;
    letter-spacing: 0.09rem;
    margin-bottom: 1rem;
  }
  #section-about p {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  #section-about #islerimiz {
    width: 10em;
    height: 10em;
    margin-bottom: 1.5rem;
  }
  #section-about #section-about-isim {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  #section-about #section-about-tarih {
    font-size: 1.1rem;
    padding-bottom: 3rem;
  }
  #header-index-page .container-fluid {
    padding-top: 7rem;
    padding-bottom: 6rem;
    background-color: #212529;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  h1.top-heading {
    color: white;
    opacity: 50%;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    margin-top: 2rem;
  }
  p.nav-paragraph {
    color: white;
    opacity: 50%;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  div.box > img {
    width: 28rem;
    height: 18rem;
    border-radius: 3%;
    margin-top: 0;
  }
  #blue-side p:first-child {
    font-size: 1.75rem;
  }
  #blue-side .row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .input-group {
    width: 85%;
    margin-left: auto;
  }
}


@media (min-width: 1400px) {
  #header-about-page {
    height: 100%;
    margin-top: 6rem;
  }
  #header-about-page h2 {
    font-size: 2.5rem;
  }
  #header-about-page p {
    font-size: 1.5rem;
  }
  #section-about-page {
    height: 36em;
  }
  #section-about-page h3 {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #section-about-page p {
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #section-about-page #image-about1 {
    width: 40em;
    height: 26em;
    margin-top: 5rem;
  }
  #section-about-page #image-about2 {
    width: 40em;
    height: 26em;
    margin-top: 5rem;
  }
  .input-group {
    width: 69%;
    margin-left: auto;
  }
}
