.navbar {
    background-color: #212529;
}
a.navbar-brand:hover {
    color: white;
}
a.navbar-brand {
    color: #C2B97F;
    opacity: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav.navbar ul.nav li.nav-item a.nav-link {
    color: #BEEEAA;
    opacity: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;

}
header {
    background-color: #212529;
    width: 100%;
    box-sizing: border-box;
    height: 460px;
}
h1.top-heading {
    color: white;
    opacity: 50%;
    font-weight: bolder;
    font-size: 3em;

}
p.nav-paragraph {
    color: white;
    opacity: 50%;
    font-size: 1.2rem;
}
div.box > img {
    width: 400px;
    height: 270px;
    border-radius: 3%;
}
section.featured-title {
    height: 530px;
}
/* section.featured-title .container i {
    color: rgb(43,128,253);
    background-color: white;
} */
.head-feature-heading {
    font-weight: bold;
}
em {
    font-size: 1.5em;
}
#id-tom {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%
}
#blue-side {
    height: 10em;
    background-color:#8693AB ;
}
#image-about {
    width: 30em;
    height: 20em;
}
#input-aside {
    width: 93%;
}
#i-contact {
    width: 3em;
    height: 2.5em;
    background-color: #D6BA73;
    color: #626868;
    display: inline-block;
}
#icons-home {
    width: 1.5em;
    height: 1.5em;
    padding-top: 0.5rem;
    /* background-color: rgb(43,128,253);
    color: white; */
    display: inline-block;
    border-radius: 15%;
    background-color: #55505C;
    color: #D6F8D6;
}
#logo {
    width: 8rem;
    height: 3rem;
}
#islerimiz {
    width: 9em;
    height: 9em;
}
#section-about {
    height: 37em;
}